<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'login_form'}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field registration-field">
      <%= f.label :role, class:'sr-only' %>
      <%= f.select(:role,[['Cliente', :client], ['Eléctrico', :electric]], {}, {class: 'form-control'}) %>
    </div>

    <div class="field registration-field">
      <%= f.label :name, class:'sr-only' %>
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Nombre',class:'form-control', required: true %>
    </div>

    <div class="field registration-field" >
      <%= f.label :image, "Imagen"%>
      <%= f.drag_and_drop_file_field :image %>
    </div>

    <div class="field registration-field">
      <%= f.label :email, class:'sr-only', placeholder: 'Correo electrónico' %>
      <%= f.email_field :email, autocomplete: "email", placeholder: 'Correo electrónico',class:'form-control', required: true, type: 'email' %>    
    </div>

    <div class="field registration-field">
      <%= f.label :rut, class:'sr-only' %>
      <%= f.text_field :rut, autocomplete: "rut", placeholder: 'RUT',class:'form-control', required: true %>
    </div>

    <div class="field registration-field">
      <%= f.label :address, class:'sr-only' %>
      <%= f.text_field :address, autocomplete: "address", placeholder: 'Dirección',class:'form-control', required: true %>
    </div>

    <div class="field registration-field">
      <%= f.label :commune, class:'sr-only' %>
      <%= f.text_field :commune, autocomplete: "commune", placeholder: 'Comuna',class:'form-control', required: true %>
    </div>
    
    <div class="field registration-field">
      <%= f.label :password, class:'sr-only' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> ) caracteres mínimos</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Contraseña',class:'form-control', required: true %>
    </div>

    <div class="field registration-field">
      <%= f.label :password_confirmation, class:'sr-only' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirmar Contraseña',class:'form-control', required: true %>
    </div>

    <div class="actions registration-field buttom-registration">
      <%= f.submit "Registrarse", class:'btn -btn-lg btn-primary btn-block'  %>
    </div>

    <%= render "devise/shared/links" %>
 
<% end %>


