<%= form_with(model: [detection, quatation]) do |f| %>
<div class="field custom-field">
  <%= f.label :detail, "Detalle de la cotización", class:'sr-only' %>
  <%= f.text_area :detail, class:'form-control', autofocus: true, placeholder: 'Detalle de la cotización', required: true %>
</div>
<div class="field custom-field">
  <%= f.label :amount, "Monto a cobrar", class:'sr-only' %>
  <%= f.number_field :amount, class:'form-control', placeholder: 'Monto a cobrar', required: true%>
</div>
<div class="field custom-field">
  <p>Día de asistencia: <%= @dia %></p>
</div>
<div class="field custom-field">
  <p>Hora de presentación: <%= @hora %> hrs.</p>        
</div>


<%= f.submit "Enviar", class:'btn btn-lg btn-primary btn-block' %>
<% end %>
