<%= form_with(model: [detection, quatation]) do |f| %>
  <div class="form-group">
    <%= f.label :detail, "Detalle del hallazgo" %>
    <%= f.text_field :detail, class:'form-control' %>
  </div>
  <div class="field">
    <%= f.label :amount, "Monto a cobrar" %>
    <%= f.number_field :amount, class:'form-control'%>
  </div>
  <div class="field">
    <p>Día de asistencia: <%= @dia %></p>
  </div>
  <div class="field">
      <p>Hora de presentación: <%= @hora %></p>        
  </div>

  
  <%= f.submit "Enviar", class:'btn btn-primary btn-sm' %>
<% end %>
<%=link_to 'Volver', detection_path(@detection.id), class:"btn btn-primary"%>