<div class="container">
  <div class="text-center">
    <h2>Mis Cotizaciones</h2>
  </div>
  <table class= "table">
    <thead>
    <tr>
      
      <th>Cliente</th>
      <th>Estado</th>
      <th>Si aceptan la cotización podrás enviar/leer un mensaje</th>
      <th>Mensajes pendientes</th>
      <th>Eliminar</th>
      <th>Detalle de cotización</th>

    </tr>
    </thead>
    <tbody>
    <% @quatations_electric.each do |e| %>
        <tr>          
          <td> <%=e.detection.user.name %></td>
          <% if e.accepted? %>
              <td><button type='button' class='btn btn-info'> Han aceptado la cotización </button></td>
              <td><%= link_to 'Enviar mensaje/Leer mensaje', new_quatation_message_path(e.id), remote: true, class:"btn btn-success"%></td>
              <td id="unread_messages"><%= e.unread_messages_for(current_user) %></td>
              <% if e.date < Time.zone.now %>
                  <td> <%= link_to "Eliminar", "#" %> </td>
              <% else %>
                  <td><p>--</p></td>
              <% end %>
          <% elsif e.rejected?%>
              <td><button type='button' class='btn btn-danger'> Han rechazado la cotización </button></td>
              <td></td>
              <td></td>
              <td> <%= link_to "Eliminar", "#" %> </td>

          <% else %>
              <td><button type='button' class='btn btn-warning'>Todavía no responden </button></td>
              <td></td>
              <td></td>
              <% if e.date < Time.zone.now %>
                  <td> <%= link_to "Eliminar", "#" %> </td>
              <% else %>
                  <td><p>--</p></td>
              <% end %>
          <% end %>

          <td><%=link_to "Ver detalle", detection_quatation_path(e.detection.id, e.id), remote: true, class:"btn btn-primary"%>  </td>
        </tr>
    <% end %>
    </tbody>

  </table>
  <%=link_to 'Volver', user_profile_path(current_user), class:"btn btn-primary"%>
</div>


