<table class="table">
    <thead>
        <tr>
            <th>Cotizaciones</th>
            <th>Comentario</th>
            <th>Cobro</th>
            <th>Aceptar/Rechazar</th>
            <th>Podr치s enviar/leer mensajes si aceptas la cotizaci칩n</th>
            
            <th>Mensajes pendientes</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <% @quatations.each do |q| %>
        <tr>
            <td> <%=link_to q.electric.name, electric_qualifications_path(q.electric.id) %> </td>
            <td> <%= q.detail %> </td>
            <td> <%= q.amount %> </td>
            
            <% if current_user.client? %>
                <% if q.accepted?%>
                    <td><button type='button' class='btn btn-info'> Haz aceptado la cotizaci칩n </button></td>
                    <td><%= link_to 'Enviar mensaje/Leer mensaje', new_quatation_message_path(q.id), remote: true, class:"btn btn-success"%></td>
                    <td id="unread_messages"><%= q.unread_messages_for(current_user) %></td>
                    <% if q.date < Date.today %>
            <td> <%= link_to "Eliminar", "#" %> </td> 
            <% else %>   
            <td><p>--</p></td>          
            <% end %>
                <% elsif q.rejected?%> 
                    <td><button type='button' class='btn btn-danger'> Haz rechazado la cotizaci칩n </button></td>
                    <td></td>
                    <td></td>
                    <td> <%= link_to "Eliminar", "#" %> </td>
                    
                <% else %>
                    <td id= "estado"><%= link_to "Aceptar", accepted_quatation_detection_quatation_path(@detection, q.id), method: :patch, remote: true, class:"btn btn-success btn-sm" %>
                    <%= link_to "Rechazar", rejected_quatation_detection_quatation_path(@detection, q.id), method: :patch, remote: true, class:"btn btn-danger btn-sm" %></td>
                    <% if q.date < Date.today %>
                    <td> <%= link_to "Eliminar", "#" %> </td> 
                    <% else %>
                    <td></td> 
                    <td></td>

                    <td><p>--</p></td>          
                    <% end %>
                    
                <% end %>
            <% end %>            
            </tr>
            <% end %>
        </tbody>
    </table>
    <%=link_to 'Volver', user_profile_path(current_user), class:"btn btn-primary btn-sm"%> 