<div class="container">
    <h2 class="text-center">Cotizaciones</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Técnico</th>
                <th>Fecha</th>
                <th>Cobro</th>
                <th>Comentario</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @quatations.each do |q| %>
                <tr id="row-<%=q.id%>">
                    <td>
                      <%=link_to(electric_qualifications_path(q.electric.id)) do %>
                        <span> <%= image_tag q.electric.image, size: '38', class:'rounded-circle mr-2', alt: 'Foto Usuario' %> <%= q.electric.name %> </span>
                      <% end %>
                    </td>
                    <td> <%= q.date.strftime('%d-%m-%Y %H:%M:%S') %></td>
                    <td> <%= number_to_currency q.amount, unit: '$ ', separator: ',', delimiter: '.', precision: 0 %></td>
                    <td> <%= q.detail %> </td>
                    <td>
                        <% if current_user.client? %>
                            <span class="status-accepted mr-2" <% if !q.accepted? %> hidden <% end %>>Aceptada</span>
                            <span class="status-rejected mr-2" <% if !q.rejected? %> hidden <% end %>>Rechazada</span>
                            <%= link_to new_quatation_message_path(q.id), remote: true, class:'messages-btn btn btn-info btn-sm', hidden: !q.accepted? do%>
                                Mensajes <span class="badge badge-light"><%= q.unread_messages_for(current_user) %></span>
                            <% end %>
                            <%= link_to 'Aceptar', accepted_quatation_detection_quatation_path(@detection, q.id), method: :patch, remote: true, class: 'accept-btn btn btn-success btn-sm', hidden: q.accepted? || q.rejected? %>
                            <%= link_to 'Rechazar', rejected_quatation_detection_quatation_path(@detection, q.id), method: :patch, remote: true, class: 'reject-btn btn btn-warning btn-sm', hidden: q.accepted? || q.rejected? %>
                            <%= link_to 'Calificar', new_electric_qualification_path(electric_id: q.electric.id), remote: true, class: 'calificate-btn btn btn-success btn-sm', hidden: q.waiting? || q.rejected?  %>
                            <%= link_to 'Eliminar', detection_quatation_path(q.detection, q), method: :delete, remote: true, class: 'delete-btn btn btn-danger btn-sm', hidden: q.waiting? %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="text-center">
      <%=link_to 'Volver', user_profile_path(current_user), class: 'btn btn-outline-secondary btn-lg'%>
    </div>
</div>