
<h4><%= @electric.name %></h4>

<table class= "table">
    <thead>
        <tr>
            <th>Calificaciones</th>
            <th>Cliente que lo ha calificado</th>
            <th>Comentarios</th>
        </tr>
    </thead>
    <tbody>
        <% @qualifications.each do |q| %>
        <tr>
            <td><%=q.calification%></td>
            <td><%=q.client.name%></td>
            <td><%=q.detail%></td>
        </tr>
        <% end  %>
    </tbody>
</table>




<%=link_to 'Enviar levantamiento', new_detection_path, remote: true, class:'btn btn-primary btn-sm'%>
<%=link_to 'Volver', user_profile_path(current_user), class:"btn btn-primary btn-sm"%>  
<%= render 'shared/modal' %>