<%= form_with(model: detection) do |f| %>
<% if electric_id.present? %>
<%= f.hidden_field :electric_id, value: electric_id  %>
<% end %>
<div class="field custom-field">
  <%= f.label :detail, "Detalle del hallazgo", class:'sr-only' %>
  <%= f.text_area :detail, class:'form-control', placeholder: 'Detalle del hallazgo', required: true %>
</div>
<div class="field custom-file custom-field" >
  <%= f.label :image, 'Imagen', class: 'custom-file-label'%>
  <%= f.file_field :image, required: true, class: 'custom-file-input' %>
</div>
<div class="field custom-field">
  <%= f.label :address, "Dirección", class:'sr-only'%>
  <%= f.text_field :address, class:'form-control', placeholder: 'Dirección', required: true %>
</div>
<div class="field custom-field">
  <%= f.label :commune, "Comuna"%>  
  <%= f.select(:commune,[
  ['Cerrillos', 'Cerrillos' ],
  ['Cerro navia', 'Cerro navia'],
  ['Conchalí', 'Conchalí'],
  ['El Bosque', 'El Bosque'],
  ['Estación Central', 'Estación Central'],
  ['Huechuraba', 'Huechuraba'],
  ['Independencia', 'Independencia'],
  ['La Cisterna', 'La Cisterna'],
  ['La Florida', 'La Florida'],
  ['La Granja', 'La Granja'],
  ['La Pintana', 'La Pintana'],
  ['La Reina', 'La Reina'],
  ['Las Condes', 'Las Condes'],
  ['Lo Barnechea', 'Lo Barnechea'],
  ['Lo Espejo', 'Lo Espejo'],
  ['Lo Prado', 'Lo Prado'],
  ['Macul', 'Macul'],
  ['Maipú', 'Maipú'],
  ['Ñuñoa', 'Ñuñoa'],
  ['Pedro Aguirre Cerda', 'Pedro Aguirre Cerda'],
  ['Peñalolén', 'Peñalolén'],
  ['Providencia', 'Providencia'],
  ['Pudahuel', 'Pudahuel'],
  ['Quilicura', 'Quilicura'],
  ['Quinta Normal', 'Quinta Normal'],
  ['Recoleta', 'Recoleta'],
  ['Renca', 'Renca'],
  ['San Joaquín', 'San Joaquín'],
  ['San Miguel', 'San Miguel'],
  ['San Ramón', 'San Ramón'],
  ['Santiago', 'Santiago'],
  ['Vitacura', 'Vitacura']  
  ], {}, {class: 'form-control'}) %>
  
</div>
<div class="field custom-field">
  <%= f.label :date, "Fecha disponible" %>
  <%= f.date_field :date, class:'form-control', required: true %>
</div>
<div class="field custom-field">
  <%= f.label :hour, "Hora disponible" %>
  <%= f.time_field :hour, class:'form-control', required: true%>
</div>
<%= f.submit "Enviar", class:'btn btn-lg btn-primary btn-block' %>
<% end %>
