<%= form_with(model: detection) do |f| %>
<% if electric_id.present? %>
<%= f.hidden_field :electric_id, value: electric_id  %>
<% end %>
<div class="form-group">
  <%= f.label :detail, "Detalle del hallazgo" %>
  <%= f.text_field :detail, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :image, "Agrega una imagen"%>
  <%= f.drag_and_drop_file_field :image %>
</div>
<div class="form-group">
  <%= f.label :address, "Dirección" %>
  <%= f.text_field :address, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :commune, "Comuna" %>  
  <%= f.select(:commune,[
  ['Cerrillos', 'Cerrillos' ],
  ['Cerro navia', 'Cerro navia'],
  ['Conchalí', 'Conchalí'],
  ['El Bosque', 'El Bosque'],
  ['Estación Central', 'Estación Central'],
  ['Huechuraba', 'Huechuraba'],
  ['Independencia', 'Independencia'],
  ['La Cisterna', 'La Cisterna'],
  ['La Florida', 'La Florida'],
  ['La Granja', 'La Granja'],
  ['La Pintana', 'La Pintana'],
  ['La Reina', 'La Reina'],
  ['Las Condes', 'Las Condes'],
  ['Lo Barnechea', 'Lo Barnechea'],
  ['Lo Espejo', 'Lo Espejo'],
  ['Lo Prado', 'Lo Prado'],
  ['Macul', 'Macul'],
  ['Maipú', 'Maipú'],
  ['Ñuñoa', 'Ñuñoa'],
  ['Pedro Aguirre Cerda', 'Pedro Aguirre Cerda'],
  ['Peñalolén', 'Peñalolén'],
  ['Providencia', 'Providencia'],
  ['Pudahuel', 'Pudahuel'],
  ['Quilicura', 'Quilicura'],
  ['Quinta Normal', 'Quinta Normal'],
  ['Recoleta', 'Recoleta'],
  ['Renca', 'Renca'],
  ['San Joaquín', 'San Joaquín'],
  ['San Miguel', 'San Miguel'],
  ['San Ramón', 'San Ramón'],
  ['Santiago', 'Santiago'],
  ['Vitacura', 'Vitacura']  
  ]) %>
</div>
<div class="form-group">.
  <%= f.label :date, "Fecha disponible" %>
  <%= f.date_field :date, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :hour, "Hora disponible" %>
  <%= f.time_field :hour, class:'form-control' %>
</div>
<%= f.submit "Enviar", class:'btn btn-primary btn-sm' %>
<% end %>
