<%= form_with(model: detection) do |f| %>
<% if electric_id.present? %>
<%= f.hidden_field :electric_id, value: electric_id  %>
<% end %>
<div class="form-group">
  <%= f.label :detail, "Detalle del hallazgo" %>
  <%= f.text_field :detail, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :image, "Agrega una imagen"%>
  <%= f.drag_and_drop_file_field :image %>
</div>
<div class="form-group">
  <%= f.label :address, "Dirección" %>
  <%= f.text_field :address, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :commune, "Comuna" %>
  <%= f.text_field :commune, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :date, "Fecha disponible" %>
  <%= f.date_field :date, class:'form-control' %>
</div>
<div class="form-group">
  <%= f.label :hour, "Hora disponible" %>
  <%= f.time_field :hour, class:'form-control' %>
</div>
<%= f.submit "Enviar", class:'btn btn-primary btn-sm' %>
<% end %>
