<div class="container">
  <div class="text-center mb-4">
    <h3>Detalle Hallazgo</h3>
  </div>
    <% if current_user.electric? %>
        <div class="text-center mb-3">
            <%=link_to(electric_qualifications_path(@detection.user.id)) do %>
                <span> <%= image_tag @detection.user.image, size: '38', class:'rounded-circle mr-2', alt: 'Foto Usuario' %> <%= @detection.user.name %> </span>
            <% end %>
        </div>
    <% end %>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <%= image_tag @detection.image.variant(combine_options: {resize: '300>', gravity: 'Center', crop: '300x300+0+0' }), alt:"Imagen del hallazgo" %>
        </div>
        <div class="col-sm">
            <div id="map" style= "width: 300px; height: 300px;">
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm-6">
            <p><strong>Descripción</strong> <%=@detection.detail %></p>
            <p><strong>Dirección</strong> <%=@detection.address %> en la comuna: <%= @detection.commune %></p>
            <p><strong>Disponibilidad para recibir visita del eléctrico</strong> <%=@hora%> hrs. el día <%=@dia %></p>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="text-center">
        <%=link_to 'Volver', user_profile_path(current_user), class:'btn btn-outline-secondary btn-lg'%>
        <%=link_to 'Realizar cotización', new_detection_quatation_path(@detection.id), remote: true, class: 'btn btn-primary btn-lg', hidden: current_user.client? %>
    </div>
</div>

<script>
      handler = Gmaps.build('Google');
      $(document).ready(function(){
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);  
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();      
       });    
      });
</script>







