<div class="card text-center">
        <div class="card-header">
            <%= @detection.user.email %>            
        </div>
        <div class="card-body">
          <img src="<%=@detection.image%>" class="card-img-top" alt="...">
          <p class="card-text"><%=@detection.detail %></p>
          <p class="card-text"><%=@detection.address %></p>
          <p class="card-text">Disponible a las <%=@detection.hour%> el día <%=@detection.date %></p> 
        </div>
        <div class="card-footer text-muted">  
          <%=link_to 'Enviar cotización', new_detection_quatation_path(@detection.id), class:"btn btn-primary"%>       
        </div>
      </div>


      